@charset "UTF-8";

/*-------------- header --------------*/
header {height:210px;}

header > .top-menu {
	height: 60px;
	background-color: rgb(246, 246, 246);
	font-size: 15px;
}
.top-menu #signUpBtn {
	color:rgb(51, 51, 51);
	font-weight: bold;
	border-color:rgba(0, 0, 0, 0);
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0);
}
.top-menu #signInBtn {
	color:rgb(51, 51, 51);
	font-weight: bold;
	background-color: #fff;
	border-color:rgba(0, 0, 0, 0);
	border-radius: 5px;
	padding-right: 15px;
	padding-left: 15px;
}
.top-menu #logoutBtn {
	color:rgb(51, 51, 51);
	font-weight: bold;
	background-color: #fff;
	border-color:rgba(0, 0, 0, 0);
	border-radius: 5px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top:12px;
}
.top-menu span {
	color:rgb(51, 51, 51);
	font-weight: bold;
}
.top-menu a {
	color:rgb(51, 51, 51);
	font-weight: bold;
	text-decoration: none;
	padding-right:15px;
	padding-left: 15px;
}
.top-menu a:hover {color:rgb(120, 120, 120);}

header > .middle-menu {
	height: 100px;
}
.logo > a {
	text-decoration: none;
	color: rgb(93, 197, 183);
	}
.search {
	position: relative;
}
.search > .form-control {
	height: 45px;
	font-size: 14px;
	border-radius: 5px;
}
.search > img {
	position : absolute;
	cursor: pointer;
	width: 30px;
	top: 35px;
	right: 23px;
	margin: 0;
}

header > .menu {
	height:50px;
	background-color:rgb(93, 197, 183);
	border-radius:5px;
}
header .menu > ul {
	padding:20px 0 20px 20px;
}
header .menu ul li {
	display:inline-block;
	list-style:none;
}
header .menu ul .bx-menu {
	color:#fff;
	font-size:35px;
	padding-right:10px;
	cursor:pointer;
}
header .menu ul .bx-menu:hover {
	color:darkcyan;
}
header .menu ul .nav-menu {
	margin:0 90px 7px 100px;
}
header .menu ul li .menu-text {
	text-decoration:none;
	color:#fff;
	display:inline-block;
	transition:all ease 0.3s;
	font-size:18px;
	font-weight:bold;
	margin:0;
}
header .menu ul li a:hover {
	color:darkcyan;
}
header .menu .category {
	position:absolute;
	width:145px;
	background-color:#fff;
	box-shadow:0 20px 45px #00000020;
	margin-top:-50px;
	opacity:0;
	z-index:-999;
	transition:all ease 0.5s;
	padding:0;
}
header .menu ul li:hover .category {
	z-index:99;
	opacity:1;
	margin-top:0;
}
header .menu ul .category li {
	margin:0;
	width:100%;
}
header .menu ul .category li a {
	text-decoration:none;
	padding:10px 0 10px 20px;
	display:inline-block;
	width:100%;
	color:#5A5A5A;
	font-size:15px;
}
header .menu ul .category li a:hover {
	background-color:rgb(246, 246, 246);
}
/*-------------- header --------------*/

/*--------------- main ---------------*/
.img-box {
	background-color:rgb(218, 218, 218);
	width:100%;
	height:320px;
	margin-top:15px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.img-box > span {
	color:#fff;
	font-size:50px;
	font-weight:bold;
}
.goods-box {
	margin-top:15px;
}
.goods-box h5 {
	margin:10px 15px;
	font-size:19px;
}
.hot-goods {
	width:49%;
	height:275px;
	background-color:rgb(244, 244, 244);
}
.new-goods {
	width:49%;
	height:275px;
	background-color:rgb(244, 244, 244);
}
/*--------------- main ---------------*/

/*----------- sing up page -----------*/
.sign-up-title > h5 {
	margin-top :30px;
	font-weight:bold;
}

.sign-up-box {
	width:500px;
	min-height:380px;
	background-color:rgb(246, 246, 246);
	margin-top :20px;
	padding-top:15px;
	border:solid 1px rgb(218, 218, 218);
	border-radius: 5px;
}
.sign-up-subject {
	font-size:14px;
	font-weight:bold;
	margin-left:30px;
	margin-top:5px;
	margin-bottom:3px;
}
.sign-up-box input {
	width:310px;
	font-size:14px;
	margin-left:30px;
	margin-right:30px;
	margin-top:5px;
	margin-bottom:3px;
}
.sign-up-box #loginId {
	width:200px !important;
	font-size:14px;
	margin-left:62px !important;
	margin-right:10px !important;
	margin-top:5px;
	margin-bottom:3px;
}
.sign-up-box #loginIdCheckBtn {
	width:100px;
	height:35px;
	margin-right:30px;
	font-size:14px;
	border:solid 1px rgb(218, 218, 218);
	border-radius: 5px;
	color:rgb(51, 51, 51);
	font-weight: bold;
	background-color:#fff;
}
.sign-up-box .warning-text {
	font-size:12px;
	color:rgb(202, 45, 45);
	padding-left:165px;
}
.sign-up-box .accept-text {
	font-size:12px;
	color:rgb(32, 145, 80);
	padding-left:165px;
}

.sign-up-btn-box {margin-top:35px; font-size:18px;}
.sign-up-btn-box #cancelSignUpBtn {
	width:235px;
	height:45px;
	margin-right:30px;
	border-radius: 5px;
	border-color:rgba(0, 0, 0, 0);
	color:rgb(93, 197, 183);
	font-weight: bold;
	background-color:rgb(236, 236, 236);
}
.sign-up-btn-box > #signUpBtn {
	width:235px;
	height:45px;
	border-radius: 5px;
	border-color:rgba(0, 0, 0, 0);
	color:#fff;
	font-weight: bold;
	background-color:rgb(93, 197, 183);
}
/*----------- sing up page -----------*/

/*----------- sing in page -----------*/
.sign-in-wrap {
	width:420px;
	margin-top:70px;
	border:1px solid rgb(218, 218, 218);
	border-radius:10px;
	padding:30px 40px;
	box-shadow:0 0 10px rgba(0, 0, 0, .2);
}

.sign-in-wrap h1 {
	font-size:36px;
	font-weight:900;
	text-align:center;
	color:rgb(93, 197, 183);
}
.sign-in-wrap a {
	text-decoration:none;
}
.sign-in-wrap .sign-in-box {
	position:relative;
	width:100%;
	height:50px;
	margin:30px 0;
}
.sign-in-box input {
	width:100%;
	height:100%;
	background:transparent;
	border:none;
	outline:none;
	border:1px solid rgb(218, 218, 218);
	border-radius:40px;
	font-size:16px;
	padding:20px 45px 20px 20px;
}
.sign-in-box i {
	position:absolute;
	right:20px;
	top:50%;
	transform:translateY(-50%);
	font-size:20px;
}

.sign-in-wrap .loginBtn {
	width:100%;
	height:45px;
	background-color:rgb(93, 197, 183);
	border:none;
	outline:none;
	border-radius:40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	color:#fff;
	font-size:17px;
	font-weight:600;
}
.sign-in-wrap .sign-up-link {
	font-size:14px;
	text-align:center;
	margin:20px 0 15px;
}

.sign-up-link a {
	color:rgb(127, 127, 127);
	text-decoration:none;
}
/*----------- sing in page -----------*/

/*--------- update info page ---------*/
.user-info-wrap {
	width:420px;
	margin-top:70px;
	border:1px solid rgb(218, 218, 218);
	border-radius:10px;
	padding:30px 40px;
	box-shadow:0 0 10px rgba(0, 0, 0, .1);
}

.user-info-wrap h5 {
	font-size:19px;
	font-weight:bold;
}
.user-info-wrap .user-info-box {
	width:100%;
	height:30px;
	margin:30px 0;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.user-info-box > span {
	font-size:16px;
	font-weight:bold;
}
.user-info-box > input {
	width:60%;
	height:100%;
	border:none;
	outline:none;
	border:1px solid rgb(218, 218, 218);
	border-radius:5px;
	font-size:16px;
	padding:18px;
}

.user-info-wrap .user-info-btn-box {
	display:flex;
	justify-content:space-between;
}
.user-info-wrap .cancelUpdateInfoBtn {
	width:160px;
	height:40px;
	background-color:rgb(236, 236, 236);
	border:none;
	outline:none;
	border-radius:5px;
	color:rgb(93, 197, 183);
	font-size:17px;
	font-weight:bold;
}
.user-info-wrap .updateInfoBtn {
	width:160px;
	height:40px;
	background-color:rgb(93, 197, 183);
	border:none;
	outline:none;
	border-radius:5px;
	color:#fff;
	font-size:17px;
	font-weight:bold;
}
/*--------- update info page ---------*/

/*---------- write post page ---------*/
.write-post-wrap > h5 {
	font-size: 21px;
	font-weight:bold;
	margin:30px 0 15px 5px;
}

.write-post-box {
	width:100%;
	margin-top:5px;
	border:1px solid rgb(218, 218, 218);
	border-radius:5px;
	padding:20px 30px;
	box-shadow:0 0 10px rgba(0, 0, 0, .1);
}
.write-post-box .input-box {
	width:100%;
	height:30px;
	margin:25px 0;
	display:flex;
	align-items:center;
}
.write-post-box span {
	width:90px;
	font-size:16px;
	font-weight:bold;
}
.write-post-box textarea {
	width:950px;
	min-height:300px;
}
.write-post-box .selectPostStatus {
	font-weight:bold;
	margin-left:426px;
}

.write-post-box #file {
	margin-left:90px;
}
.write-post-box #postWriteBtn {
	width:150px;
	height:40px;
	background-color:rgb(93, 197, 183);
	border:none;
	border-radius:5px;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	margin-right:9px;
}
/*---------- write post page ---------*/

/*--------- post detail page ---------*/
.post-detail-box {
	width:80%;
	margin-top:50px;
	border:1px solid rgb(218, 218, 218);
	border-radius:5px;
	padding:20px 30px;
	box-shadow:0 0 10px rgba(0, 0, 0, .1);
}
.post-comment-box {
	width:75%;
	margin-top:18px;
}

.post-detail-box #category {
	font-size:14px;
	color:rgb(127, 127, 127);
}
.post-detail-box #subject {
	font-size:20px;
	font-weight:bold;
	color:rgb(51, 51, 51);
}
.post-detail-box #userLoginId {
	font-size:15px;
	color:rgb(64, 64, 64);
}
.post-detail-box #submitDate {
	font-size:14px;
	color:rgb(158, 158, 158);
}
.post-detail-box #price {
	font-size:21px;
	font-weight:bold;
	color:rgb(51, 51, 51);
}
.post-detail-box #status {
	font-size:17px;
	font-weight:bold;
	margin-left:10px;
	color:dodgerblue;
}
.post-detail-box #content {
	font-size:15px;
}

.post-detail-box #listBtn {
	width:60px;
	height:35px;
	background-color:rgb(234, 234, 234);
	border:none;
	border-radius:5px;
	color:rgb(64, 64, 64);
	font-size:15px;
}
.post-detail-box #updateBtn {
	width:60px;
	height:35px;
	background-color:rgb(234, 234, 234);
	border:none;
	border-radius:5px;
	color:rgb(64, 64, 64);
	font-size:15px;
}
.post-detail-box #deleteBtn {
	width:100px;
	height:35px;
	background-color:rgb(93, 197, 183);
	border:none;
	border-radius:5px;
	color:#fff;
	font-size:15px;
	font-weight:bold;
	margin-left:20px;
}

.post-comment-box .bxs-chat, .like-btn {
	font-size:25px;
	color:rgb(51, 51, 51);
	margin-right:4px;
	padding-top:2px;
}
.post-comment-box .like-btn {
	cursor:pointer;
}
.post-comment-box #comment {
	font-size:17px;
	font-weight:bold;
	color:rgb(51, 51, 51);
}
.post-comment-box #like {
	font-size:16px;
	color:rgb(51, 51, 51);
}
.post-comment-box #chatBtn {
	width:90px;
	height:35px;
	background-color:rgb(236, 236, 236);
	border:none;
	border-radius:5px;
	color:rgb(93, 197, 183);
	font-size:15px;
	font-weight:bold;
}
.post-comment-box #commentUserId {
	font-size:15px;
	font-weight:bold;
	color:rgb(94, 94, 94);
	margin-right:2px;
}
.post-comment-box #commentContent {
	font-size:14px;
	color:rgb(94, 94, 94);
}
.post-comment-box #commentDate {
	font-size:13px;
	color:rgb(190, 190, 190);
}
.post-comment-box .commentDelBtn {
	font-size:23px;
	margin-left:3px;
	padding-top:1px;
	cursor:pointer;
}
.post-comment-box .write-comment-box {
	position:relative;
}
.post-comment-box input {
	font-size:14px;
	padding-right:45px;
}
.post-comment-box #commentSubmitBtn {
	position:absolute;
	top:6px;
	right:8px;
	font-size:15px;
	font-weight:bold;
	color:rgb(94, 94, 94);
	cursor:pointer;
}

/*--------- post detail page ---------*/

/*--------- post update page ---------*/
.write-post-box #cancelBtn {
	width:60px;
	height:35px;
	background-color:rgb(234, 234, 234);
	border:none;
	border-radius:5px;
	color:rgb(64, 64, 64);
	font-size:15px;
}

.write-post-box #updateBtn {
	width:100px;
	height:35px;
	background-color:rgb(93, 197, 183);
	border:none;
	border-radius:5px;
	color:#fff;
	font-size:15px;
	font-weight:bold;
	margin-left:20px;
}
/*--------- post update page ---------*/

/*------------- my page --------------*/
.my-page-wrap > h5 {
	font-size: 21px;
	font-weight:bold;
	margin:30px 0 15px 5px;
}
.my-page-wrap .nav-tabs {
	border-bottom:none;
}
.my-page-wrap .tab-pane {
	border:1px solid #dee2e6;
	border-radius:5px;
	box-shadow:0 0 10px rgba(0, 0, 0, .1);
}

.my-page-wrap .tab-nav-box {
	display:flex;
	flex-wrap:wrap;
	width:100%;
	background-color:rgb(241, 241, 241);
}
.tab-nav-box .tab-label {
	font-size:16px;
	color:rgb(94, 94, 94);
	padding:8px 16px;
	margin-bottom:0px;
	cursor:pointer;
}
.tab-nav-box .tab-radio {
	display:none;
}
.tab-nav-box .tab-radio:checked+.tab-label {
	font-weight:bold;
	color:rgb(93, 197, 183);
	border-bottom:2px solid rgb(93, 197, 183);
}
.tab-nav-box .tab-radio:checked+.tab-label+.tab-content-box {
	display:initial;
}
.tab-nav-box .tab-content-box {
	order:1;
	width:100%;
	min-height:100px;
	padding:15px 16px;
	background-color:#fff;
	font-size:15px;
	display:none;
	border-radius:5px;
}
.tab-content-box .table td {
	border-top:none;
	border-bottom:1px solid #dee2e6;
}
.tab-content-box .post-subject {
	width:760px;
}
.tab-content-box .post-subject a {
	text-decoration:none;
	color:rgb(51, 51, 51);
}
.tab-content-box .post-date {
	width:110px;
	color:rgb(127, 127, 127);
}
.tab-content-box .post-status {
	width:90px;
	color:rgb(93, 197, 183);
}
/*------------- my page --------------*/

/*---------- wish list page ----------*/
.wish-list-box {
	width:80%;
	margin-top:50px;
}
.wish-list-box h5 {
	font-size:20px;
	font-weight:bold;
	margin:0 0 15px 10px;
}
.wish-list-box table th {
	font-size:15px;
	background-color:rgb(243, 243, 243);
	padding:10px;
	vertical-align:middle;
}
.wish-list-box th input {
	margin:0 10px 0 5px;
}
.wish-list-box .subject {
	width:570px;
	text-align:center;
}
.wish-list-box .subject a {
	text-decoration:none;
	color:rgb(51, 51, 51);
}
.wish-list-box table .price {
	width:110px;
	text-align:center;
}
.wish-list-box table .delete {
	width:70px;
	text-align:end;
}
.wish-list-box #deleteBtn {
	width:55px;
	height:27px;
	background-color:#fff;
	border-radius:5px;
	color:rgb(94, 94, 94);
	border:1px solid rgb(200, 200, 200);
}
.wish-list-box table td {
	font-size:15px;
}
.wish-list-box td input {
	margin-left:3px;
}
.wish-list-box .delete-btn {
	font-size:28px;
	margin-right:11px;
	cursor:pointer;
}
.wish-list-box #mainBtn {
	width:90px;
	height:30px;
	background-color:rgb(93, 197, 183);
	border:none;
	border-radius:5px;
	color:#fff;
	font-size:15px;
	font-weight:bold;
	margin-top:10px;
}
/*---------- wish list page ----------*/

/*---------- post list page ----------*/
.post-list-box {
	width:80%;
	margin-top:20px;
}
.post-list-box span {
	font-size:14px;
	color:#5A5A5A;
	margin-left:2px;
}
.post-list-box .key-word {
	font-weight:bold;
	color:#212121;
}
.post-list-box table th {
	font-size:15px;
	color:rgb(94, 94, 94);
	background-color:rgb(243, 243, 243);
	padding:7px;
	border:none;
}
.post-list-box table td {
	font-size:15px;
	border-top:none;
	border-bottom:1px solid #dee2e6;
	padding-left:10px;
}

.post-list-box table .category {
	width:20%;
	padding-left:10px;
}
.post-list-box table .subject {
	width:55%;
	text-align:center;
}
.post-list-box .price {
	width:13%;
	text-align:center;
}
.post-list-box .date-th, .date-td {
	width:11%;
	text-align:center;
}
.post-list-box .date-td {
	color:rgb(127, 127, 127);
}
.post-list-box #mainBtn {
	width:90px;
	height:30px;
	background-color:rgb(93, 197, 183);
	border:none;
	border-radius:5px;
	color:#fff;
	font-size:15px;
	font-weight:bold;
	margin-top:10px;
}
/*---------- post list page ----------*/

.contents {min-height: 500px;}
footer {height: 100px;}