@charset "UTF-8";

/*-------------- header --------------*/
header {height:210px;}

header > .top-menu {
	height: 60px;
	background-color: rgb(246, 246, 246);
	font-size: 15px;
}
.top-menu #signUpBtn {
	color:rgb(51, 51, 51);
	font-weight: bold;
	border-color:rgba(0, 0, 0, 0);
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0);
}
.top-menu #signInBtn {
	color:rgb(51, 51, 51);
	font-weight: bold;
	background-color: #fff;
	border-color:rgba(0, 0, 0, 0);
	border-radius: 5px;
	padding-right: 15px;
	padding-left: 15px;
}
.top-menu #logoutBtn {
	color:rgb(51, 51, 51);
	font-weight: bold;
	background-color: #fff;
	border-color:rgba(0, 0, 0, 0);
	border-radius: 5px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top:12px;
}
.top-menu span {
	color:rgb(51, 51, 51);
	font-weight: bold;
}
.top-menu a {
	color:rgb(51, 51, 51);
	font-weight: bold;
	text-decoration: none;
	padding-right:15px;
	padding-left: 15px;
}
.top-menu a:hover {color:rgb(120, 120, 120);}

header > .middle-menu {
	height: 100px;
}
.logo > a {
	text-decoration: none;
	color: rgb(93, 197, 183);
	}
.search {
	position: relative;
}
.search > .form-control {
	height: 45px;
	font-size: 14px;
	border-radius: 5px;
}
.search > img {
	position : absolute;
	cursor: pointer;
	width: 30px;
	top: 35px;
	right: 23px;
	margin: 0;
}

header > .menu {
	height: 50px;
	background-color: rgb(93, 197, 183);
	border-radius: 5px;
}
.menu .menu-text {
	color: #fff;
	font-weight: bold;
	font-size: 17px;
}
/*-------------- header --------------*/

/*----------- sing up page -----------*/
.sign-up-title > h5 {
	margin-top :30px;
	font-weight:bold;
}

.sign-up-box {
	width:500px;
	min-height:380px;
	background-color:rgb(246, 246, 246);
	margin-top :20px;
	padding-top:15px;
	border:solid;
	border-width:1px;
	border-color:rgb(218, 218, 218);
	border-radius: 5px;
}
.sign-up-subject {
	font-size:14px;
	font-weight:bold;
	margin-left:30px;
	margin-top:5px;
	margin-bottom:3px;
}
.sign-up-box input {
	width:310px;
	font-size:14px;
	margin-left:30px;
	margin-right:30px;
	margin-top:5px;
	margin-bottom:3px;
}
.sign-up-box #loginId {
	width:200px !important;
	font-size:14px;
	margin-left:62px !important;
	margin-right:10px !important;
	margin-top:5px;
	margin-bottom:3px;
}
.sign-up-box #loginIdCheckBtn {
	width:100px;
	height:35px;
	margin-right:30px;
	font-size:14px;
	border:solid;
	border-width:1px;
	border-color:rgb(218, 218, 218);
	border-radius: 5px;
	color:rgb(51, 51, 51);
	font-weight: bold;
	background-color:#fff;
}
.sign-up-box .warning-text {
	font-size:12px;
	color:rgb(202, 45, 45);
	padding-left:165px;
}
.sign-up-box .accept-text {
	font-size:12px;
	color:rgb(32, 145, 80);
	padding-left:165px;
}

.sign-up-btn-box {margin-top:35px; font-size:18px;}
.sign-up-btn-box #cancelSignUpBtn {
	width:235px;
	height:45px;
	margin-right:30px;
	border-radius: 5px;
	border-color:rgba(0, 0, 0, 0);
	color:rgb(93, 197, 183);
	font-weight: bold;
	background-color:rgb(236, 236, 236);
}
.sign-up-btn-box > #signUpBtn {
	width:235px;
	height:45px;
	border-radius: 5px;
	border-color:rgba(0, 0, 0, 0);
	color:#fff;
	font-weight: bold;
	background-color:rgb(93, 197, 183);
}
/*----------- sing up page -----------*/

.contents {min-height: 500px;}
footer {height: 100px;}